<h1>Editing Content</h1>
<p class="mb-4"><em>Leave fields blank to use default values.</em></p>
<%= render 'form', content: @content %>
<%= button_to 'Back', content_path(1), :method => :get, class: "btn btn-secondary button-float" %>
