<h1>Editing Theme</h1>

<%= render 'form', theme: @theme %>

<%= button_to 'Show', @theme, :method => :get, class: "btn btn-secondary button-float" %>
<%= button_to 'Back', themes_path, :method => :get, class: "btn btn-secondary button-float" %>
