<div class="row mb-3">
  <div class="col-lg-3 mx-auto">
      <div class="card mx-3 text-center">
          <div class="card-body">
            <%= link_to 'My Dashboard', resident_path, class: 'stretched-link link-primary card-title h5 text-decoration-none' %>
            <p class="card-text">Create a new report and view your reports.</p>
          </div>
        </div>
  </div>
    
</div>
    