<h1 class="text-center">KPI Dashboard</h1>
<p class="text-center">Select start and end dates and click "Choose Dates" to view key performance indicators for the specified time period.</p>
<%= render '/kpi_dashboard/search_form' %>

<% if @reports && @reports.count > 0 %>
    <section class="chart-wrap total-submitted">
        <h2 class="dark">Total Number of Reports Submitted</h2>
        <%= line_chart @reports.group_by_day(:created_at).count %>
    </section>
<% elsif @invalid_date %>
     <p class="text-danger text-center fst-italic">Please enter a valid start and end date.</p>
<% elsif @reports && @reports.count <= 0 %>
    <p class="text-center fst-italic">No data found for <%= @start_date %> - <%= @end_date %>.</p>
<% end %>