<div class="mx-auto text-center mt-3">
    <h1 class="fw-bold mb-0 pb-2">Welcome to ReportIt</h1>
    <p>Report, track, and browse non-emergency issues in your community.</p>
</div>

<div class="homepage-tiles-container my-5 mx-auto d-flex justify-content-center">
    <!-- Resident Dashboard Tile - shows if logged in as resident user -->
    <% if  user_signed_in? && current_user.is_resident? %>                
        <div class="card homepage-tile text-center py-5">
             <%= image_tag 'dashboard-icon.svg', :class => "card-img-top" %>
            <div class="card-body">
                <h5 class="card-title fw-bold">Resident Dashboard</h5>
                <p class="card-text">Submit a new report and track existing reports</p>
                <%=link_to "Resident Dashboard", resident_path , :class=>"btn btn-primary stretched-link" %>
            </div>
        </div>
    <% end %>
    <!-- Explore Tile -->
        <div class="card homepage-tile text-center py-5">
            <%= image_tag 'compass-icon.svg', :class => "card-img-top" %>
            <div class="card-body">
                <h5 class="card-title fw-bold">Explore</h5>
                <p class="card-text">View all open reports</p>
                <button href="#" class="btn btn-primary stretched-link">Explore open reports</button>
            </div>
        </div>
</div>