<div class="container">
  <% if notice %>
    <aside id="notice"><%= notice %></aside>
  <% end %>
<h1 class="fw-bold">Welcome to ReportIt</h1>

<a href="#">Test</a>
<br><br>
<%= button_to "New", { action: "index" }, class: "btn btn-primary", id: "test" %>
</div>
