<h1>Feedback</h1>

<p>We value your opinion to make the site better and more accessible.</p>
<p>Please share your comments, so we can continue to improve. Thank you</p>

<%= render 'form', feedback: @feedback %>

<%= button_to 'Back', url_for(:back), :method => :get, class: "btn btn-secondary button-float" %>
