@import url('https://fonts.googleapis.com/css?family=Merriweather-Sans');
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 *= require bootstrap.min .
 *= require_self
 */

body {
  @media (min-width: 30em) {
    font-size: 16px !important;
    line-height: 18px !important;
  }
  margin: 0;
  padding: 0;
  font-family: 'Merriweather-Sans', sans-serif !important;
  color: #2F3334;
  font-size: 14px !important;
  line-height: 16px !important;
}

$border-color: #EFEEEC;

table {
	border: 0;
	border-collapse: collapse;
	margin: 0;
	padding: 0 !important;
	width: 100%;
	table-layout: fixed;

	caption {
		text-align: left;
		font-size: 1.3em;
		margin: .5em 0 .75em;
	}

	thead {
		display: none;
	}

	tr {
		display: block;
		border: 1px solid $border-color;
		padding: 1em 1em .5em;

		& + tr {
			margin-top: 0.625em;
		}
	}

	td {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
    padding: 1em 1em 0.5em !important;
		border-bottom: 1px solid $border-color;
		font-size: .8em;
		line-height: 1.35em;

		&:before {
			content: attr(data-label);
			font-size: 0.90em;
			text-align: left;
			font-weight: bold;
			max-width: 100%;
			color: #545454;
		}

		& + td {
			margin-top: 0.8em;
		}

		&:last-child {
			border-bottom: 0;
		}
	}
}

@media screen and (min-width: 650px) {
	table {
		caption {
			font-size: 1.5em;
		}

		thead {
			display: table-header-group;
		}

		tr {
			display: table-row;
			border: 0;
		}

    th {
      padding-bottom: 0.4em;
    }

		th, td {
			text-align: left;
		}

		th {
			font-size: 0.85em;
		}

		td {
			display: table-cell;

			&:before {
				display: none;
			}

			&:last-child {
				border-bottom: 1px solid $border-color;
			}
		}
	}
}

/*--------------------
header styles
--------------------*/
header.main {
  @media (min-width: 30em) {
    text-align: left; // left align on desktop
    background-size: 65%;
  }
  border-top: 5px solid #C6682A;
  text-align: center; // center on mobile
  background-color: #EFEEEC;
  padding: 1em;
  margin: 0;
  background-image: url('cityscape.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center right;
}

/*--------------------
alternate list colors
--------------------*/
tr.list_line_odd {
    background-color: #F5F5F5;
  }

/*--------------------
main styles
--------------------*/
.main-container {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}


/*--------------------
Logo styles
--------------------*/
.logo {
  @media (min-width: 30em) {
    max-width:300px;
  }
  display: block;
  max-width:200px;
  width: auto;
  height: auto;
}

/*--------------------
header styles
--------------------*/
.content-container {
  @media (min-width: 30em) {
    padding-top: 2em;
    padding-right: 2em;
    padding-bottom: 6em;
    padding-left: 2em;
  }
  min-width: fit-content;
  margin: 0;
  padding-top: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 6em;
  padding-left: 1.5em;
  width: 100%;
}

/*--------------------
footer styles
--------------------*/
footer {
  border-bottom: 5px solid #C6682A;
  background-color: #EFEEEC;
}

/*--------------------
copyright styles
--------------------*/
.copyright {
  font-size: 13px;
  line-height: 15px;
  text-align: center;
}

/*--------------------
login styles
--------------------*/
.logged_in_as {
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  padding: 1em 2em;
  background-color: #2f3334;
  color: #FFFFFF;
}

/*--------------------
element styles
--------------------*/
h1, h2, h3, h4, h5, aside {
  margin: 0;
  padding-bottom: 0.4em;
  color: #C6682A;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: #1577A6;
}

.navbar-light .navbar-nav a.nav-link:hover {
  color: #F49F0A;
}

a {
  color: #FF5C00 !important;
}

a:visited {
    color: #1577A6 !important;
}

a:hover {
  color: #F49F0A !important;
}

.btn.btn-primary {
  padding: 0.5em 1.5em;
  font-weight: bold;
  border-radius: 20px;
  background: none;
  border: none;
  color: white;
  background-color: #C6682A;
}

.btn.btn-default {
  color: white;
  background-color: #C6682A;
}

.btn.btn-primary:hover {
  background-color: #F49F0A;
}

.btn.btn-success {
  background-color: #1577A6;
}

/* global form styles */
form label.required::after {
    content: "*";
    color: red;
}
form {
    max-width: 50rem;
}

/* resident portal styles */
.card:hover{
  transform: scale(1.02);
  box-shadow: 0 6px 6px rgba(0,0,0,.10), 0 3px 6px rgba(0,0,0,.05);
}

/* pagination styles */
.pagination .page-item.active .page-link {
  background-color: #efeeec;
  border-color: #efeeec;
}
