<h2 class="mb-3">Create a New Report</h2>
<p><span class="fw-bold">Category:</span> <%= @report.category %> (<%= @report.subcategory %>) </p>

<%= render 'form' , report: @report %>

<%= link_to 'Back to Dashboard' , resident_path, class: 'd-inline-block my-3' %>
